# Module 1
- Python Basics

In [1]:
print("Hello Python 101")

Hello Python 101

String

In [2]:
type("Hello")

str

Integer

In [3]:
type(2)

int

Float

In [4]:
type(1.0)

float

Boolean

In [5]:
type(True)

bool

Mathematical operations

In [11]:
25*3

75

In [16]:
50+4

54

In [17]:
3+5*7

38

Variables

In [23]:
x= 50
x

50

In [24]:
y=x*3
y

150

In [26]:
total_min =43+42+57
total_min

142

In [27]:
total_hr=total_min/60
total_hr

2.3666666666666667

In [29]:
print(int(total_hr))

2

Review Question 1

What is the result of the following operation in Python:

In [30]:
3 + 2 * 2

7

Review Question 2

In Python, if you executed name = 'Lizz', what would be the output of print(name[0:2])?

In [32]:
name= 'Lizz'
print(name[0:2])

Li

Review Question 3

In Python, if you executed var = '01234567', what would be the result of print(var[::2])?

In [33]:
var='01234567'
print(var[::2])

0246

Review Question 4

In Python, what is the result of the following operation '1'+'2'?

In [34]:
'1'+'2'

'12'

Review Question 5

Given myvar = 'hello', how would you convert myvar into uppercase?

In [37]:
myvar = 'hello'
myvar.upper()

'HELLO'

# Module 2
- Python Data Structures

Tuples

In [45]:
tuple1 =("disco",10,1.2)
tuple1

('disco', 10, 1.2)

In [54]:
print(tuple1[0])

disco

In [58]:
tuple2=tuple1+("Hard rock",10)
tuple2

('disco', 10, 1.2, 'Hard rock', 10)

Tuple:Slicing

In [61]:
print(tuple2[0:4])

('disco', 10, 1.2, 'Hard rock')

In [62]:
len(tuple2)

5

Lists

In [63]:
L=['Michael Jackson',10.1,1982]
L

['Michael Jackson', 10.1, 1982]

In [65]:
print(L[0])
print(L[1])
print(L[2])

Michael Jackson
10.1
1982

QUESTION 1

How do you access the last element of the following tuple: A=(0,1,2,3)? Select all possible correct answers.

In [44]:
A=(0,1,2,3)
A[3]

3

QUESTION 2

Consider the list: B=["a","b","c"].

What is the result of the following B[1:]?

In [41]:
B=["a","b","c"]
B

['a', 'b', 'c']

In [42]:
B[1:]

['b', 'c']

Sets

In [80]:
Set1={"Pop","Rock","Soul","Hard Rock","Rock","R&B","Rock","Disco"}
Set1

{'Disco', 'Hard Rock', 'Pop', 'R&B', 'Rock', 'Soul'}

Convertiendo list a set

In [81]:
Album_list=["Michael Jackson","Thriller","Thriller",1982]
Album_list

['Michael Jackson', 'Thriller', 'Thriller', 1982]

In [85]:
Album_set=set(Album_list)
Album_set

{1982, 'Michael Jackson', 'Thriller'}

QUESTION 1

What is the result of the following lines of code:

In [96]:
S={'A','B','C'}

U={'A','Z','C'}

U.union(S)

{'A', 'B', 'C', 'Z'}

QUESTION 2

What is the intersection of set S and U?
S={'A','B','C'}

U={'A','Z','C'}

Answer: {'A', 'C'}

Dictionaries

In [107]:
dict={"Thrieller":1982,"Back in Black":1980,"The Darck side of the moon":1973,"The boyguard":1992}
dict

{'Thrieller': 1982,
 'Back in Black': 1980,
 'The Darck side of the moon': 1973,
 'The boyguard': 1992}

In [108]:
dict['Graduation']='2007'
dict

{'Thrieller': 1982,
 'Back in Black': 1980,
 'The Darck side of the moon': 1973,
 'The boyguard': 1992,
 'Graduation': '2007'}

In [109]:
'The boyguard' in dict

True

In [110]:
'Star boy' in dict

False

In [111]:
dict.keys()

dict_keys(['Thrieller', 'Back in Black', 'The Darck side of the moon', 'The boyguard', 'Graduation'])

QUESTION 1

Consider the following dictionary:

D = {'a':0,'b':1,'c':2}

What is the result of the following: D.values()?

In [112]:
D = {'a':0,'b':1,'c':2}
D

{'a': 0, 'b': 1, 'c': 2}

In [113]:
D.values()

dict_values([0, 1, 2])

QUESTION 2

Consider the following dictionary:

D = {'a':0,'b':1,'c':2}
What is the output of the following D['b']?

In [114]:
D['b']

1

Review Questions

Question 1

What is the syntax used to obtain the first element of the tuple:

A = ('a','b','c')

In [116]:
A = ('a','b','c')
A

('a', 'b', 'c')

In [117]:
A[0]

'a'

Question 2

After applying the following method, L.append(['a','b']), the following list will only be one element longer.

Answer: False

Question 3

How many duplicate elements can you have in a set?

Answer: 0, You can only have one unique element in a set.

Question 4

Consider the following Python dictionary:

Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}

What is the result of the following operation: Dict["D"]?

In [121]:
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}
Dict

{'A': 1, 'B': '2', 'C': [3, 3, 3], 'D': (4, 4, 4), 'E': 5, 'F': 6}

In [123]:
Dict["D"]

(4, 4, 4)

Question 5

What is an important difference between lists and tuples?
Answer: Lists are mutable, tuples are not.

# Module 3
- Python Programming Fundamentals

In [125]:
a=6
a

6

In [126]:
a==7

False

In [127]:
i=6
i

6

In [128]:
i>5

True

In [129]:
i=2
i

2

In [130]:
i>=5

False

In [131]:
i!=6

True

In [132]:
"AC/DC"=="Michael Jackson"

False

In [133]:
"AC/DC"!="Michael Jackson"

True

IF Statement

In [134]:
age=17
age

17

In [136]:
if (age>18):
    print("You can enter")
print("Move on")

Move on

In [138]:
if (age>18):
    print("You can enter")
else:
    print("Go to meat loaf ")
print("Move on")

Go to meat loaf
Move on

In [145]:
if (age>16):
    print("You can enter")
elif(age==18):
    print("Go to see pink floyd")
else:
    print("Go to meat loaf ")
print("Move on")

You can enter
Move on

Logic operations

In [146]:
False or False

False

In [147]:
False or True

True

In [148]:
True or False

True

In [149]:
True or True

True

In [150]:
False and False

False

In [151]:
False and True

False

In [152]:
True and False

False

In [153]:
True and True

True

In [157]:
x='a'
x

'a'

In [159]:
if(x!='a'):
    print("This is not a.")

else:
    print("This is a.")

This is a.

QUESTION 1

Select the values of i that produces a True for the following:

i!=0

In [161]:
i=1
i

1

In [162]:
i!=0

True

QUESTION 2

What is the output of the following:

x='a'

if(x!='a'):

print("This is not a.")

else:

print("This is a.")

In [163]:
x='a'
x

'a'

In [164]:
if(x!='a'):
    print("This is not a.")

else:
    print("This is a.")

This is a.

Loops

In [3]:
squares=['orange','orange','purple','blue']
squares

['orange', 'orange', 'purple', 'blue']

In [10]:
Newsquares=[]
i=0

while(squares[i]=='orange'):
    Newsquares.append(squares[i])
    
    i=i+1